/* .calss selector*/

.first {
    color: black;
}

.large {
    font-size: 30px;
}

/* id selector */
#eklist {
    background-color: brown;
}

/* attribute selector*/
 a[href="upflairs.com"]{
    color: black;
    text-decoration: none;
 }
 /* psudo selector*/
 .first:hover {
    color: white;
 }

 /*type selector*/

body {
    color: cadetblue;
    background-color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* unioversal selector*/
*{
    margin : 5%;
}